// Calendar component requires a sass sheet for custom styles
@import "react-big-calendar/lib/sass/styles";
@import "./styles/constants.css";

.rbc-allday-cell {
  height: 0px !important;
}

.rbc-day-slot .rbc-events-container {
  margin-right: 0px;
}

.rbc-event {
  text-align: center;
}

.rbc-day-slot .rbc-event-label {
  align-self: center;
  padding-right: 0px;
}

.rbc-header {
  border-bottom: none;
}

.rbc-time-view {
  border-radius: 10px;
  box-shadow: 0 2px 4px 1px var(--black-5);
}

.box-style {
  padding: 30px;
}

// custom height is required
.calendar-height {
  height: 600px;
}
