@import "//styles/Constants.css";

.calendar-base {
  height: 100vh;
}

.search-base {
  height: 100vh;
  box-shadow: 3px 0 5px -1px var(--black-5);
}

.cal-collapse-icon {
  float: left;
  cursor: pointer;
  color: var(--primary-light);
}

.search-collapse-icon {
  float: right;
  color: var(--primary-light);
}

.cal-collapse-icon:hover,
.search-collapse-icon:hover {
  color: var(--main-purple-2);
  cursor: pointer;
}


.TextField-without-border-radius fieldset {
  border-radius: 0;
}