@import "//styles/Constants.css";

.retractable-tray {
  background-color: var(--main-purple-1) !important;
  position: fixed;
  left: 0;
  bottom: 0;
  width: inherit;
  border-radius: 18px 18px 0 0 !important;
}

.retractable-tray .MuiCardContent-root {
  padding: 0;
}

.heading-background {
  cursor: pointer;
  padding: 10px 16px 0;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.calendar-tray-heading {
  color: var(--bg-1);
  opacity: 0.8;
  cursor: pointer;
}

.expand-more-icon,
.expand-less-icon {
  color: var(--bg-1);
  opacity: 0.4;
}

.tray-contents {
  padding: 0 16px;
}

.tray-contents-container .MuiCollapse-wrapper .MuiCollapse-wrapperInner {
  max-height: 60vh;
  overflow-y: auto;
}

.MuiGrid2-grid-xs-0 .MuiBox-root .retractable-tray {
  display: none;
}

.MuiGrid2-grid-xs-5 .MuiBox-root .retractable-tray {
  display: block;
}

.empty-tray-card {
  text-align: center;
  padding: 20px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.4) !important;
  font-weight: var(--font-weight-regular);
}
