@import "./Constants.css";
@import "./Typography.css";

.login-modal, .sign-up-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 544px;
  background-color: var(--bg-1);
  border-radius: 11px;
  box-shadow: 24;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0;
}

.login-modal-title, .sign-up-modal-title {
  color: var(--black-1);
  padding: 0 72px;
}

.login-modal-description, .sign-up-modal-description {
  color: var(--black-3);
  padding: 16px 72px;
  text-align: center;
}

.login-modal-alert, .sign-up-modal-alert {
  color: var(--alerts-warning-1);
  padding: 0 72px 16px;
  text-align: center;
}

.modal-input-text, .modal-input-button {
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 8px 72px;
}