@import "./styles/constants.css";

/* APP COLOURS */
:root {
  --primary: #6c63ff;
}

.calendar-base {
  height: 100vh;
}

.search-base {
  height: 100vh;
  box-shadow: 3px 0 5px -1px var(--black-5);
}

.cal-collapse-icon {
  float: left;
  cursor: pointer;
}

.search-collapse-icon {
  float: right;
}

.cal-collapse-icon:hover,
.search-collapse-icon:hover {
  color: var(--primary);
  cursor: pointer;
}

.text-input {
  background-color: var(--bg-3);
  border: none;
  border-radius: 10px;
  padding: 19px 32px;
}
