@import "./styles/constants.css";

/* APP COLOURS */
:root {
  --primary-light: #c4c1ff;
  --primary: #6c63ff;
  --primary-dark: #564fcc;

  --background-light: #f7f7f7;
  --background-medium: #ebebeb;

  --black-light: #cccccc;
  --black-medium: #999999;
  --black-dark: #666666;
  --black-darker: #333333;

  --warning-light: #ff8181;
  --warning: #ff6161;
  --warning-dark: #cc4e4e;

  --conflict-light: #fdecb7;
  --conflict: #f9d04a;
  --conflict-dark: #c7a63b;

  --success-light: #ebfbde;
  --success: #7dbd48;
  --success-dark: #5e8e36;

  --white: #ffffff;
  --black: #000000;
}

.calendar-base {
  height: 100vh;
}

.search-base {
  height: 100vh;
  box-shadow: 3px 0 5px -1px var(--black-light);
}

.cal-collapse-icon {
  float: left;
  cursor: pointer;
}

.search-collapse-icon {
  float: right;
}

.cal-collapse-icon:hover,
.search-collapse-icon:hover {
  color: var(--primary);
  cursor: pointer;
}

.text-input {
  background-color: var(--bg-3);
  border: none;
  border-radius: 10px;
  padding: 19px 32px;
}
